@import 'tailwindcss';
/* biome-ignore-all parse:qualquercoisa */
@plugin '@tailwindcss/typography';
@theme {
	--color-ctd-azul-01: #005ca9;
	--color-ctd-azul-02: #00b1eb;
	--color-ctd-cinza: #706f6f;
	--color-ctd-fundo: #f4f7f9;

	/* Adicionando a animação personalizada */
	--animate-underline-grow: underline-grow 0.3s ease-out forwards;

	@keyframes underline-grow {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}
}
